{% extends 'index.html' %}
{% block title %}
  {{ settings.title }}{% if post %}: {{ post.title }}{% endif %}
{% endblock %}

{% block post_title %}{{ post.title }}{% endblock %}

{% block content %}
  {% load humanize %}
  {% load markup %}
  {% if post %}
      <h1 class="title">
          {{ post.title }}
      </a>
      </h1>
      <div class="descr">
        Posted {{ post.date_created|naturalday|capfirst }} 
          at {{ post.date_created|date:"h:i A T" }} by {{post.author}}<br />
        Filed under 
        {% for tag in post.tags.all %} 
          <a href="{% url posts.views.tag tag.slug %}">
          {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
      <div>
        {{ post.renderedbody|safe }}
      </div>
  {% else %}
    <h3>Post not found</h3>
  {% endif %}
{% endblock %}
